[Desktop Entry]
Type=Application
Name=Browser
GenericName=Web Browser for accessing the web
Comment="The most based web browser"
Exec=/usr/bin/firefox %u
